@tailwind base;
@tailwind components;
@tailwind utilities;

  

.theme-btn{
    background-color: #727272;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
}
.theme-btn:hover{
    background-color: unset;
    color: #727272;
    border:1px solid #727272;
}
.aboutsubheading{
    font-size: 16px;
    color: #727272;
}
.headerLinks a{
    font-size: 18px;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerLinks a:hover{
    background-color: unset !important;
    text-decoration: none;
}

.headerLinks a:after{
    content: "";
    position:absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, red, orange);
    transform: translate(0px,20px);
}

.headerLinks a:hover:after{
    width: 100%;
    transition: 0.3s;
}

.serviceCard{
    border-radius: 20px !important;
}

.serviceImg{
    border-radius: 20px 20px 0px 0px;
}

.serviceCard:hover .serviceImg{
   filter: blur(1px) brightness(1.2) contrast(1);
   transition: .3s;
}

.serviceCard:hover .serviceHeading{
    font-size: 20px;
    color: green;
    transition: .3s;
    cursor: pointer;
}